.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #eeeeee;
  height: 150px;
  padding: 20px;
  color: #111111;
}

.App-intro {
  font-size: large;
}

.App-output {
  font-size: 400%;
  color: #dc143c;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
